parameters:
    level: 3
    paths:
        - src
    autoload_directories:
        - web/wp
        - web/app
    ignoreErrors:
        - '#Function pcntl_open not found\.#'
        - '#Function __ not found.\.#'
