.btn {
    border: none;
    border-radius: $border-radius;
    padding: 15px;
    font-weight: 600;
    margin: 15px 0;
    @include app-transition();
    &.gradient {
        color: white;
        path {
            color: white;
        }
    }
    &.gradient-null {
        color: $text-color;
        path {
            color: $text-color;
        }
    }
    &:hover {
        @include app-transition();
    }
}