app-footer {
    background-color: $secondary-darker-1;
    background-size: 750px;
    z-index: -2;
    &::after {
        content: "";
        background-size: 800px;
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    > * {
        color: white;
        text-shadow: 0 0 2px black;
    }
    path {
        fill: white;
    }
    .branding-space {
        svg {
            width: 30px;
            height: 30px;
        }
    }
    li {
        font-weight: bold;
        a {
            color: white;
        }
    }
}