#site-footer {
    background: $primary;
    color: white;
    border-top: solid 45px darken($primary, 50%);
    .container {
        background-color: darken($primary, 5%);
        pading: 15px;
        .col-3 {
            border-right: solid 1px darken($primary, 50%);
            &:last-child {
                border: none;
            }
        }
    }
}