.site-header {
  background: $color-1;
  box-shadow: $box-shadow;
  height: 60px;
  a {
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    &:last-child {
      border: none;
    }
  }
  .site-branding {
    a {
      color: white;
    }
    .custom-logo-link {
      width: 40px;
      margin-right: 20px;
      background: white;
      padding: 7px;
      border-radius: 50%;
    }
    .site-title,
    .site-description {
      font-size: 1.3em;
      color: $color-1;
      margin-bottom: 4px;
    }
  }
  .inside-header {
    padding: 0 20px;
    .main-title {
      font-size: 20px;
      font-weight: 600;
      opacity: 0.9;
    }
  }
}


.site-navigation > .menu-main-menu-container {
  grid-area: nav-menu;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

  ul, ul ul {
    list-style-type: none;
    padding: 0;
  }

  ul:first-child {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    li {
      position: relative;
      display: flex;
      font-size: 16px;
      font-weight: 600;
      a {
        display: block;
        padding: 8px 15px;

      }

      &.menu-item-has-children {
        padding-right: 15px;

        &:after {
          display: block;
          content: '\25BE';
          font-size: 1.5em;
          align-items: center;
          color: $color-1;
        }
      }

      ul {
        background: #fff;
        display: none;
        min-width: 150px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 100%;
        border: $color-1 1px solid;

        li.menu-item-has-children {
          a {
            flex-grow: 1;
          }

          &:after {
            transform: rotate(-90deg);
          }
        }

        ul {
          left: 100%;
          top: 0;
        }
      }

      &:hover {
        & > ul {
          display: block;
        }
      }
    }
  }
}
