header {
  z-index: 99;
}

app-header {
  .site-logo {
    .site-logo-title {
      letter-spacing: -1.5px;
      font-size: 20px;
    }
  }
  .search-bar {
    input {
      border-radius: 5px;
      border: 1px solid $neutral-3;
      width: 350px;
      height: 30px;
      padding: 0 20px;
    }
    input::placeholder {
      color: $neutral-3;
    }
    app-icon {
      top: 50%;
      margin-top: -12px;
      right: 18px;
      svg {
        width: 16px;
        height: auto;
      }
      path {
        color: $neutral-3;
      }
    }
  }
  .site-navigation {
    a {
      color: $neutral-4;
    }
    ul {
      color: lighten($primary, 10%);
      li {
        margin-right: 15px;
      }
    }
    app-icon {
      margin-left: 15px;
      width: 40px;
      height: 40px;
      padding: 8px;
      svg {
        width: 20px;
        height: 20px;
        path {
          color: $primary;
        }
      }
    }
    app-header-cart {
      cursor: pointer;
      .counter {
        border-radius: 50%;
        padding: 1px;
        bottom: -5px;
        font-size: 12px;
        width: 18px;
        height: 18px;
      }
    }
  }
}
