app-home-other-direction {
  #title-3{
    text-align: center;
  }

  .without-background {

  }

  .with-background {
    background-size : cover;
  }

  .row > div { height: 700px }

  .div {

  }

  .h-50 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 250px 0px;

    span {
      text-align: center;
    }
  }
}