app-home-header {
  .container-fluid {
    background-size: cover;
  }

  h1, h2, h3, h4, h5, h6, {
    font-weight: bold;
  }

  img {
    display : block;
    width : 120px;
    margin : auto;
  }

  .parent, .app-wrapper {
    z-index: 1;
  }


  label {
    display:inline-block;
  }

  form {
    display: block;
    margin-top: 0em;
  }


  a {
    border-radius: 7px;
    width: 40px;
    height: 50px;
  }

  input {
    border:none;
  }

  input {
    &:focus {
      outline:none;
    }

    input::placeholder {
      font-size: 1px;
    }
  }

  .app-icon {
    color: white;
  }

  .form-group-speciality {
    border-right: 1px solid $black;
  }

}