@import 'variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";
@import "views/partner";
@import "components/header";

.text-color-{
  &1 {
    color: $one-color;
  }
  &2 {
    color: $two-color;
  }
  &3 {
    color: $three-color;
  }
  &4 {
    color: $four-color;
  }
}

.app-wrapper {
  margin: 15px 0 15px 0;
  padding: 30px;
  box-shadow: $box-shadow;
  background: white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  overflow: hidden;
}