@import 'variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";
@import "views/partner";

.text-color-{
  &1 {
    color: $one-color;
  }
  &2 {
    color: $two-color;
  }
  &3 {
    color: $three-color;
  }
  &4 {
    color: $four-color;
  }
}