{
  "rules": {
    "color-no-invalid-hex": true,
    "color-hex-case": "upper",
    "selector-no-qualifying-type": null,
    "max-nesting-depth": null
  },

  "extends": "stylelint-config-sass-guidelines"
}