app-cookies-banner {
  .cookies-content {
    background-color: $secondary-lighter-2;

    .cookie {
      img {
        height: auto;
        width: 100%;
        @include media-breakpoint-up(md) {
          width: 25px;
        }
      }
    }

    #cookies-text {
      color: $neutral-4;
    }
  }
}
