app-footer {
  background-color: $secondary-darker-1;
  background-size: 750px;
  z-index: 5;

  &::after {
    background-size: 800px;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  > * {
    color: $white;
    text-shadow: 0 0 2px $black;
  }

  path {
    fill: $white;
  }

  .branding-space {
    svg {
      height: 30px;
      width: 30px;
    }
  }

  li {
    font-weight: bold;

    a {
      color: $white;
      transition: transform 0.2s;
    }

    a:hover {
      color: $neutral-3;
    }
  }
}
