header {
  z-index: 99;
}

app-header {
  .site-logo {
    .site-logo-title {
      font-size: 20px;
      letter-spacing: -1.5px;
    }
  }

  .search-bar {
    input {
      border: 1px solid $neutral-3;
      border-radius: 5px;
      height: 30px;
      padding: 0 20px;
      width: 350px;
    }

    input::placeholder {
      color: $neutral-3;
    }

    app-icon {
      margin-top: -12px;
      right: 18px;
      top: 50%;

      svg {
        height: auto;
        width: 16px;
      }

      path {
        color: $neutral-3;
      }
    }
  }

  .site-navigation {
    .btn {
      display: inline;
    }

    a {
      color: $neutral-4;
    }

    ul {
      color: lighten($primary, 10%);

      li {
        margin-right: 15px;
      }
    }

    app-icon {
      height: 40px;
      margin-left: 15px;
      padding: 8px;
      width: 40px;

      svg {
        height: 20px;
        width: 20px;

        path {
          color: $primary;
        }
      }
    }

    app-header-cart {
      cursor: pointer;

      .counter {
        border-radius: 50%;
        bottom: -5px;
        font-size: 12px;
        height: 18px;
        padding: 1px;
        width: 18px;
      }
    }
  }
}
