.type-product {
  @include app-transition();
  padding: 0 0 15px;

  &:hover {
    transform: scale(1.1);
  }

  a {
    margin-bottom: 15px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
