app-home-partner-list {
  app-partner-card {
    & > div {
      background-size: cover;
      height: 300px;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: $box-shadow;
      }
    }
  }
}